*{
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

.container{
    display: flex;
}
.container .home-page p{
    margin-top: 160px;
    margin-left: 20px;
}
.container .home-page p i{
    font-size: 25px;
}
a{
    text-decoration: none;
    color: #fff;
    transition: all .5s;
}
a:hover{
    cursor: pointer;
}
.container .home-kategori{
    margin-top: 169px;
    margin-left: 14px;
}
.container .home-kategori p {
    font-size: 16px;
}
.table-responsive{
    display: flex;
}
table{
    justify-content: center;
    margin-right: 100px;
}
div form{
    margin-left: 30%;
    margin-bottom: 10px;
    padding: 10px;
}
h3{
    margin-left: 18%;
}
.containerz{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
margin-top: 10px;
margin-left: 8px;
}

.containerz a{
position: relative;
width: 160px;
height: 60px;
display: inline-block;
background-color: #fff;
padding: 10px;

}

.containerz a::before,
.containerz a::after{
content: '';
position: absolute;
inset: 0;
background: #f00;
transition: 0.5s;
}

.containerz a:nth-child(1)::before,
.containerz a:nth-child(1)::after{
background: linear-gradient(45deg,#00ccff,#252839,#252839,#d400d4);
}

.containerz a:hover::before{
inset: -3px;

}

.containerz a:hover::after{
inset: -3px;
filter: blur(10px);

}

.containerz a button{
background: transparent;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
display: inline-block;
z-index: 10;
display: flex;
justify-content: center;
align-items: center;
font-size: 1.2em;
text-transform: uppercase;
letter-spacing: 2px;
color: black;
}


